
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}


.card
{
    width: 300px;
    margin-top: 100px;
   border: 2px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

#count-el 
{
    font-size: 60px;
    margin: 5px 0;
}

button 
{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover 
{
    background-color: #1dee28;
}

#total-el 
{
    font-size: 30px;
    margin-top: 10px;
}